

#mainForm{
	margin:auto;
	margin-top: 20px;
	text-align:center;
}

h1{
	margin: 40px 0 0px 0;
	font-size:1.5em;
	text-align:center;
	font-family: "Raleway", sans-serif;
}

h3{

	text-align:center;
	font-family: "Raleway", sans-serif;
}

td {
	border: 2px solid #aaa;

}

#tableDiv{
	width:100%;
	margin-top: 25px;
	text-align:center;
}

table{
	margin:auto;
}

.buttons{
	width:100%;
	text-align:center;
	margin-top:15px;
}


.odd{
	background-color: #ddd;
}

.border{
	border-bottom: 5px solid #000;
}


input[type=text]{
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 6px 8px;
}

p{
	display:inline-block;
}

#submit1{
	background-color: #33b9f7;
	border: 1px solid #33b9f7;
	color: #FFF;
	border-radius: 5px;
	padding: 5px 15px;
}

.buttons button{
	background-color: #FFF;
	border: 2px solid #ddd;
	border-radius: 5px;
}

.buttons button:hover{
	background-color: #ddd;
	border: none;
	border: 2px solid #ddd;
	border-radius: 5px;
}

















